{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig' %}
    <br>
    <h3>Can't figure out what to cook? Let's see some receipes based on products which you already posses</h3>
    <a href="/products/select" class="btn btn-success">Find Receipes</a>
{% endblock %}